html {
  background: #f5f5f5;
}

body {
  background: #fff;
  width: 1000px;
  margin: 10px auto;
  padding: 17px;
  font-family: Helvetica, sans-serif;
  color: rgb(102, 102, 102)
}

h1, h2, h3, h4 {
  font-weight: normal;
  color: #000;
}

h2 {
  margin-top: 50px;
}

pre, ul, li {
  text-align: left;
}

pre {
  font-family: Source Code Pro,Menlo,Consolas,Liberation Mono,monospace;
  color: #24292e;
  font-size: 11pt;
  background: #F9F9F9;
  padding: 20px;
}

a {
  color: #1184CE;
  text-decoration: none;
}
